<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; 新的文章</a>
    {{/if}}
    <span class="page-number">第{{page}}页，共{{pages}}页</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">旧的文章 &rarr;</a>
    {{/if}}
</nav>